/* ============================================================================
    #VAR
============================================================================ */
:root {
  --gap: 30px;
  --header-height: 100px;
  --font-color-dark: black;
  --font-color-light: white;
  --main-theme-color-1: #FC0A7E;
  --main-theme-color-2: #1B1B1B;
}




/* ============================================================================
    #FONTS
============================================================================ */

/* gothic-a1-regular - latin */
@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/gothic-a1-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/gothic-a1-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gothic-a1-700 - latin */
@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/gothic-a1-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/gothic-a1-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}





/* ============================================================================
    #GENERAL
============================================================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: transparent;
  outline-color: transparent;
}

html, body {
  height: 100%;
  font-family: 'Gothic A1', sans-serif;
  font-size: 16px;
  line-height: 30px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  display: block;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1252px;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}





/* ============================================================================
    #HEADER
============================================================================ */

.header {
  position: absolute;
  inset: 0;
  height: var(--header-height);
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__link {
  width: 120px;
  height: 43px;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin: 0 15px;
}

.nav__link {
  font-size: 15px;
  line-height: 1;
  color: white;
  white-space: nowrap;
}





/* ============================================================================
    #HERO
============================================================================ */

.hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}

.hero__container {
  width: 100%;
}

.hero__row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__col {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero__content {
  width: 120%;
}

.hero__col:nth-child(2) {
  margin-right: -8%;
}

.hero__title {
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  color: white;
}

.hero__subtitle {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  color: white;
}

.hero__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: white;
}

.button {
  padding: 20px 40px;
  border-radius: 3px;
}

.button_color {
  background-color: var(--main-theme-color-1);
}

.hero__img {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: var(--header-height);
  padding-bottom: 30%;
  overflow: hidden;
}

.hero__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero__next {
  position: absolute;
  bottom: 0;
  left: calc(50% - 9px/2);
  display: block;
  width: 9px;
  height: 40px;
  margin-bottom: 30px;
  background-image: url(../img/next.svg);
}





/* ============================================================================
    #tablet
============================================================================ */

.tablet {
  padding-top: 85px;
  background-color: var(--main-theme-color-2);
}

.tablet__container {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablet__subtitle {
  padding: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #A8A8A8;
  text-align: center;
  text-transform: uppercase;
}

.tablet__title {
  margin-bottom: 40px;
  padding: 15px;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: var(--font-color-light);
  text-align: center;
}

.tablet__content {
  width: 60%;
}

/* .tablet__img {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 40%;
}

.tablet__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
} */





/* ============================================================================
    #table
============================================================================ */

.table {
  padding-top: 80px;
  margin-bottom: 160px;
}

.table__container {
  padding: 0 160px;
}

.table__row {
  display: flex;
  align-items: center;
  gap: calc(var(--gap)*2);
}

.table__row:not(:last-of-type) {
  margin-bottom: 160px;
}



.table__row:nth-of-type(1) .table__col:nth-of-type(1) {
  flex-basis: 45%;
}

.table__row:nth-of-type(1) .table__col:nth-of-type(2) {
  flex-basis: 55%;
}

.table__row:nth-of-type(1) .table__img {
  padding-bottom: 133%;
}



.table__row:nth-of-type(2) .table__col:nth-of-type(1) {
  flex-basis: 48%;
}

.table__row:nth-of-type(2) .table__col:nth-of-type(2) {
  flex-basis: 52%;
}

.table__row:nth-of-type(2) .table__img {
  margin-left: 7%;
  padding-bottom: 112%;
}

.table__row:nth-of-type(2) .table__text-wrap {
  margin-left: 18px;
}



.table__row:nth-of-type(3) .table__col:nth-of-type(1) {
  flex-basis: 45%;
}

.table__row:nth-of-type(3) .table__col:nth-of-type(2) {
  flex-basis: 55%;
}

.table__row:nth-of-type(3) .table__img {
  padding-bottom: 105%;
}



.table__text-wrap {
  width: 90%;
  padding: 15px 20px;
}

.table__text-title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
}

.table__text-subtitle {
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: var(--font-color-dark);
}

.table__text-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
}

.table__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.table__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}





/* ============================================================================
    #BENEFITS
============================================================================ */

.benefits {
  margin-bottom: 160px;
}

.benefits__list {
  display: flex;
  gap: calc(var(--gap)*2);
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__icon {
  margin-bottom: 40px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.benefits__icon_01 {
  width: 80px;
  height: 35px;
  background-image: url(../img/benefits/benefits_01.svg);
}

.benefits__icon_02 {
  width: 74px;
  height: 35px;
  background-image: url(../img/benefits/benefits_02.svg);
}

.benefits__icon_03 {
  width: 40px;
  height: 35px;
  background-image: url(../img/benefits/benefits_03.svg);
}

.benefits__title {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--font-color-dark);
}

.benefits__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
  text-align: center;
}





/* ============================================================================
    #ACHIEVEMENTS
============================================================================ */

.achievements {
  margin-bottom: 175px;
}

.achievements__list {
  display: flex;
  justify-content: space-between;
}

.achievements__item {
  flex: 0 0 auto;
}

.achievements__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 59px;
  line-height: 90px;
  text-align: center;
  color: #333333;
}

.achievements__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}





/* ============================================================================
    #table-2
============================================================================ */

.table-2 {
  margin-bottom: 160px;
}

.table-2__row:not(:last-of-type) {
  margin-bottom: 160px;
}

.table-2__row {
  display: flex;
  align-items: center;
}

.table-2__col {
  flex: 0 0 53%;
  width: 100%;
  height: 100%;
}

.table-2__col-text {
  flex-basis: 47%;
}

.table-2__img {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 68%;
}

.table-2__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.table-2__img_left img {
  object-position: left;
}

.table-2__img_right img {
  object-position: right;
}

.table-2__text-wrap {
  margin-left: 24%;
  width: 61%;
}

.table-2__col-text:nth-of-type(2) .table-2__text-wrap {
  margin-left: 15%;
}

.table-2__text-title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
}

.table-2__text-subtitle {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: var(--font-color-dark);
}

.table-2__text-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
}

.table-2__text-description b {
  font-weight: 700;
  text-decoration: underline;
}





/* ============================================================================
    #QUOTE
============================================================================ */

.quote {
  margin-bottom: 145px;
}

.quote__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__pic {
  width: 58px;
  height: 54px;
  margin-bottom: 63px;
  display: block;
  background: url(../img/quote-icon.svg) center / contain no-repeat;
}

.quote__text {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #6B6B6B;
}

.quote__author {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #6B6B6B;
}

.quote__journal {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #6B6B6B;
}

.quote__journal::before {
  content: '';
  width: 30px;
  height: 1px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  background-color: #D3D3D3;
}

.quote__bullet-list {
  display: flex;
  align-items: center;
}

.quote__bullet-item:not(:last-child) {
  margin-right: 16px;
}

.quote__bullet-item.active .quote__bullet-elem {
  background-color: #222;
}

.quote__bullet-elem {
  width: 7px;
  height: 7px;
  display: block;
  background-color: rgba(34, 34, 34, 0.4);
}





/* ============================================================================
    #COMPANY
============================================================================ */

.company {
  margin-bottom: 120px;
}
.company__container {
  padding: 0 115px;
}


.phone__img img {
  width: 100%;
}





/* ============================================================================
    #DOWNLOAD
============================================================================ */

.download {
  background: linear-gradient(276.18deg, #6E28B1 0%, rgba(0, 0, 0, 0) 100%), #FC0A7E;

}

.download__container {
  background-image: url(../img/download-vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 165px;
  padding-bottom: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download__title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: var(--font-color-light);
}

.download__button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download__button {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--font-color-light);
}

.download__button:not(:last-of-type) {
  margin-right: 10px;
}

.button_transparent {
  border: 1px solid #B04BB3
}




/* ============================================================================
    #GET
============================================================================ */

.get {
  padding-top: 130px;
  padding-bottom: 125px;
  background-color: var(--main-theme-color-2);
}

.get__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: var(--font-color-light);
}

.get__subtitle {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
}

.get__form {
  height: 70px;
  display: flex;
}

.get__input {
  max-width: 308px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}

.get__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}





/* ============================================================================
    #FOOTER
============================================================================ */

.footer {
  padding-top: 20px;
  padding-bottom: 68px;
  background-color: var(--main-theme-color-2);
}

.footer__logo {
  width: 136px;
  height: 104px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.footer__nav {
  margin: 0 auto;
}

.footer__list {
  display: flex;
  justify-content: center;
}

.footer__item:not(:last-child) {
  margin-right: var(--gap);
}

.footer__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6B6B6B;
  white-space: nowrap;
}


